*.class

# Package Files #

*.war
*.ear

A4.iml

.DS_Store

.idea/copyright/profiles_settings.xml

.idea/scopes/scope_settings.xml

hs_err_pid64826.log

.idea/.name

.idea/compiler.xml

.idea/encodings.xml

.idea/libraries/lib.xml

.idea/misc.xml

.idea/modules.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/workspace.xml

cs235group3a4.iml
